.navlink {
  display: flex;
}
.navLink a{
  display: block;
  padding: 4px 10px;
  text-decoration: none;
  color: inherit;
}
.navLink a:hover{
  color: black;
  background-color: rgba(184, 136, 3, 0.1);
}